<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Festival.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Festival.Properties.Settings>
            <setting name="CONNECT_Server" serializeAs="String">
                <value>thanhnt</value>
            </setting>
            <setting name="CONNECT_UserID" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="CONNECT_Password" serializeAs="String">
                <value>@dmin123</value>
            </setting>
            <setting name="CONNECT_DBName" serializeAs="String">
                <value>Wii</value>
            </setting>
            <setting name="CONNECT_DDETimeout_CheckConnecting" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CONNECT_DDETimeout" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="CONNECT_CommandTimeout" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="CONNECT_TMPDBName" serializeAs="String">
                <value>WiiTmp</value>
            </setting>
            <setting name="FES_CONTENT_INPUT_入力パス" serializeAs="String">
                <value>C:\maprj\</value>
            </setting>
            <setting name="FES_CONENT_COMBOX_DATA_登録済み条件_検索条件" serializeAs="String">
                <value>歌手名 NULL;[歌手名] is null;曲名 NULL;[楽曲名] is null;PU_ARTIST_IDが空;[PU_ARTIST_ID] is null;アップ予定日登録;[歌唱可能日] is not null and [アップ予定日] is null  and  [サービス発表日] is null;未アップ曲;[アップ予定日] is not null and [サービス発表日] is null;サービス中楽曲;[サービス発表日] is not null and [取消フラグ] is not null;未配信曲でOrchestraサービス中;[サービス発表日] is null and [Wii_U_サービス発表日] is not null;ナビDB親曲なし;[SONG_GROUP_INTRO_TYPE] is null;削除情報あり;[カラオケ削除情報] is not null</value>
            </setting>
            <setting name="COMBOX_TSV_出力条件" serializeAs="String">
                <value>Fes収集リスト;楽曲リスト</value>
            </setting>
            <setting name="RIBBON_EXPORT_MENU_FES_CONTENT_Fes収集リストパス" serializeAs="String">
                <value>\\eb-server\x-drv\K-tai\digidoco\upload\tsv\festival\</value>
            </setting>
            <setting name="FES_CONTENT_IMPORT_FILE_TXT_録音可能曲リスト取込" serializeAs="String">
                <value>録音可能曲.txt</value>
            </setting>
            <setting name="FES_CONTENT_IMPORT_FILE_XSL_更新項目リスト取込" serializeAs="String">
                <value>更新項目.xls</value>
            </setting>
            <setting name="FES_CONTENT_SERVER_PATH_録音可能リスト取込配置ファイル" serializeAs="String">
                <value>\\eb-server\Maprj\xing\Fes\tbl_Fes録音可能リスト.txt</value>
            </setting>
            <setting name="RIBBON_EXPORT_MENU_楽曲リストパス" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="FEST_TSV_LOG_PATH_ログファイル" serializeAs="String">
                <value>\\eb-server\x-drv\K-tai\digidoco\upload\tsv\festival\TSV出力結果.txt</value>
            </setting>
            <setting name="FES_TSV_RECOMMEND_SONG_おすすめ曲" serializeAs="String">
                <value>C:\maprj\Festival\recommend_song_</value>
            </setting>
            <setting name="TSV_EXTENSION_ファイル拡張子" serializeAs="String">
                <value>.tsv</value>
            </setting>
            <setting name="FES_EXPORT_CONTENT_SERVER_PATH_出力パス" serializeAs="String">
                <value>\\eb-server\x-drv\K-tai\digidoco\upload\tsv\</value>
            </setting>
            <setting name="FES_EXPORT_LOCAL_FOLDER_WORK_作業フォルダ" serializeAs="String">
                <value>Work\</value>
            </setting>
            <setting name="FES_EXPORT_CONTENT_INIT_LOG_PATH" serializeAs="String">
                <value>F:\Fes\LogTsv\ContentsLog.ini</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_CONTENT_コンテンツ" serializeAs="String">
                <value />
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_CONTENT_V2_コンテンツ_V2" serializeAs="String">
                <value>FSコンテンツ_V2</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_SERVICE_サービス情報" serializeAs="String">
                <value />
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_SERVICE_V2_サービス情報_V2" serializeAs="String">
                <value>FSサービス情報_V2</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_TIEUP_タイアップ情報" serializeAs="String">
                <value />
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_TIEUP_V2_タイアップ情報_V2" serializeAs="String">
                <value>FSタイアップ情報_V2</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_SINGER_歌手" serializeAs="String">
                <value>FS歌手</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_GENRE_ジャンル情報" serializeAs="String">
                <value />
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_GENRE_V2_ジャンル情報_V2" serializeAs="String">
                <value>FSジャンル情報_V2</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_GENRE_LIST_ジャンルリスト" serializeAs="String">
                <value />
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_GENRE_LARGE_LIST_ジャンルリスト大"
                serializeAs="String">
                <value>FSジャンルリスト大ジャンル</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_GENRE_IN_LIST_ジャンルリスト中" serializeAs="String">
                <value>FSジャンルリスト中ジャンル</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_GENRE_DESCRIPTION_ジャンル説明文"
                serializeAs="String">
                <value>FSジャンル説明文</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_SONG_NAME_ENGLISH_NUMBER_楽曲名英数読み"
                serializeAs="String">
                <value />
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_SONG_NAME_ENGLISH_NUMBER_V2_楽曲名英数読み_V2"
                serializeAs="String">
                <value>FS楽曲名英数読み_V2</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_SINGER_NAME_歌手名英数読み" serializeAs="String">
                <value>FS歌手名英数読み</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_RECOMMEND_SONG_おすすめ曲" serializeAs="String">
                <value>FSおすすめ曲</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_START_SINGING_歌い出し" serializeAs="String">
                <value>FS歌いだし</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_SINGER_ID_CHANGE_HISTORY_歌手ID変更履歴"
                serializeAs="String">
                <value>FSsong_id_change_history</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_DISC_VERSION_SONG_DISC版収録曲"
                serializeAs="String">
                <value />
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_DISC_VERSION_SONG_V2_DISC版収録曲_V2"
                serializeAs="String">
                <value>FSディスク版収録曲_V2</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_CONTENT_RANKING_コンテンツランキング用"
                serializeAs="String">
                <value>FScontents_ranking</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_SINGER_RANKING_歌手ランキング" serializeAs="String">
                <value>FSsinger_ranking</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_TIEUP_RANKING_タイアップランキング"
                serializeAs="String">
                <value />
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_TIEUP_RANKING_V2_タイアップランキング_V2"
                serializeAs="String">
                <value>FStieup_ranking_V2</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_RANKING_BY_AGE_年代別ランキング"
                serializeAs="String">
                <value>FSyears_ranking</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_UPDATE_DATE_更新日付" serializeAs="String">
                <value>FS更新日付</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_ADDITION_SONG_追加曲" serializeAs="String">
                <value>FS追加曲</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_INVIDUAL_VIDEO_ALLOCATION_個別映像割付情報"
                serializeAs="String">
                <value>FS個別映像割付情報</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_INVIDUAL_VIDEO_DIS_RECORDING_個別映像DISC収録情報"
                serializeAs="String">
                <value />
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_INVIDUAL_VIDEO_DIS_RECORDING_V2_個別映像DISC収録情報_V2"
                serializeAs="String">
                <value>FS個別映像DISC収録情報_V2</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_PACKAGE_ID_INFO_パッケージID情報"
                serializeAs="String">
                <value>FSパッケージID情報</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_ADD_REMOVE_DIS_SONG_ディスク追加削除曲"
                serializeAs="String">
                <value>FSディスク追加削除曲</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_INDIVIDUAL_VIDEO_DISC_ADDITIONAL_DELETION_個別映像ディスク追加削除情報"
                serializeAs="String">
                <value>FS個別映像ディスク追加削除情報</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_HEALTHY_KINGDOM_RECOMMENDED_SONG_健康王国おすすめ曲"
                serializeAs="String">
                <value>FS健康王国おすすめ曲</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_ADD_REMOVE_CHAPTER_SONG_チャプター追加削除曲"
                serializeAs="String">
                <value>FSチャプター追加削除曲</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_RECOMMENDED_PROGRAM_LIST_おすすめプログラムリスト"
                serializeAs="String">
                <value>FSおすすめプログラム曲</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_RECOMMENDED_PROGRAM_おすすめプログラム名"
                serializeAs="String">
                <value>FSおすすめプログラム名</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_COLLECTION_LIST_収集リスト" serializeAs="String">
                <value>FS収集リスト</value>
            </setting>
            <setting name="FILE_NAME_FES_EXPORT_RANKING_AGGREGATION_PERIOD_ランキング集計期間"
                serializeAs="String">
                <value>FSランキング集計期間</value>
            </setting>
            <setting name="FES_EXPORT_DATE_TIME_IN_PUT_最新追加フラグ設定基準日数" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="FES_EXPORT_VERSION_NUMBER_V1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FES_EXPORT_VERSION_NUMBER_V2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FES_EXPORT_DISC_版収録曲チェックファイルパス_V1" serializeAs="String">
                <value />
            </setting>
            <setting name="FES_EXPORT_DISC_版収録曲チェックファイルパス_V2" serializeAs="String">
                <value>C:\maprj\Festival\DISC版収録曲チェックファイル_V2.txt</value>
            </setting>
            <setting name="FES_EXPORT_ADDITION_SONG_LAST_6_DAYS_MAX_NUMBER_CHECK"
                serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="FES_EXPORT_加算日" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FES_EXPORT_FORLDER_SERVER_出力パス" serializeAs="String">
                <value>\\eb-server\x-drv\K-tai\digidoco\upload\tsv\</value>
            </setting>
            <setting name="FES_EXPORT_背景映像コードチェックファイルパス_V2" serializeAs="String">
                <value>C:\maprj\Festival\背景映像コードチェックファイル_V2.txt</value>
            </setting>
            <setting name="FES_EXPORT_背景映像コードチェックファイルパス_V1" serializeAs="String">
                <value />
            </setting>
            <setting name="FES_EXPORT_LOCAL_PATH_前回ディスク追加削除曲TSVパス" serializeAs="String">
                <value>C:\Maprj\Festival\old\FSディスク追加削除曲.tsv</value>
            </setting>
            <setting name="FES_EXPORT_SERVER_PATH_ディスク追加削除曲取込ファイル" serializeAs="String">
                <value>\\xgmmsxdd01\Maprj\xing\Fes\tbl_Fes前回ディスク追加削除曲.txt</value>
            </setting>
            <setting name="FES_EXPORT_ディスク追加削除曲チェックファイルパス" serializeAs="String">
                <value />
            </setting>
            <setting name="FES_EXPORT_前回個別映像ディスク追加削除情報TSVパス" serializeAs="String">
                <value>C:\Maprj\Festival\old\FS個別映像ディスク追加削除情報.tsv</value>
            </setting>
            <setting name="FES_EXPORT_個別映像ディスク追加削除情報取込ファイル" serializeAs="String">
                <value>\\xgmmsxdd01\Maprj\xing\Fes\tbl_Fes前回個別映像ディスク追加削除情報.txt</value>
            </setting>
            <setting name="FES_EXPORT_チャプター追加削除曲フラグチェックファイルパス" serializeAs="String">
                <value>C:\Maprj\Festival\チャプター追加削除曲フラグチェックファイル.txt</value>
            </setting>
            <setting name="FES_EXPORT_前回チャプター追加削除曲TSVパス" serializeAs="String">
                <value>C:\Maprj\Festival\old\FSチャプター追加削除曲.tsv</value>
            </setting>
            <setting name="FES_EXPORT_チャプター追加削除曲取込ファイル" serializeAs="String">
                <value>\\xgmmsxdd01\Maprj\xing\Fes\tbl_Fes前回チャプター追加削除曲.txt</value>
            </setting>
            <setting name="FES_EXPORT_チャプター追加削除曲前回チェックファイルパス" serializeAs="String">
                <value />
            </setting>
            <setting name="IMPORT_RANKING_総合ランキング" serializeAs="String">
                <value>C:\maprj\Festival\cdn_wjk_total_month_150_</value>
            </setting>
            <setting name="IMPORT_RANKING_年間ランキング" serializeAs="String">
                <value>C:\maprj\Festival\year_ranking_.txt</value>
            </setting>
            <setting name="FES_EXPORT_RECOMEND_SONG_LOCAL_PATH_おすすめ曲" serializeAs="String">
                <value>C:\maprj\Festival\recommend_song_</value>
            </setting>
            <setting name="FES_EXPORT_RECOMEND_SONG_SERVER_PATH_読替おすすめ曲取込配置ファイル"
                serializeAs="String">
                <value>\\xgmmsxdd01\Maprj\xing\Fes\TBL_RecommendSong.txt</value>
            </setting>
            <setting name="FES_EXPORT_歌手変更履歴取得元コンテンツTSVパス" serializeAs="String">
                <value>C:\maprj\Festival\old\FSコンテンツ.tsv</value>
            </setting>
            <setting name="FES_EXPORT_歌手変更履歴取得元歌手TSVパス" serializeAs="String">
                <value>C:\maprj\Festival\old\FS歌手.tsv</value>
            </setting>
            <setting name="FES_EXPORT_歌手取込配置ファイル" serializeAs="String">
                <value>\\xgmmsxdd01\Maprj\xing\Fes\tbl_Fes前回歌手.txt</value>
            </setting>
            <setting name="FES_EXPORT_コンテンツ取込配置ファイル" serializeAs="String">
                <value>\\xgmmsxdd01\Maprj\xing\Fes\tbl_Fes前回コンテンツ.txt</value>
            </setting>
            <setting name="FES_EXPORT_おすすめプログラムリストチェックファイルパス" serializeAs="String">
                <value>C:\Maprj\Festival\おすすめプログラムリストチェックファイル.txt</value>
            </setting>
            <setting name="FES_EXPORT_出力ファイルリスト_V1" serializeAs="String">
                <value />
            </setting>
            <setting name="FES_EXPORT_出力ファイルリスト_V2" serializeAs="String">
                <value>FSコンテンツ_V2;FSサービス情報_V2;FSタイアップ情報_V2;FS歌手;FSジャンル情報_V2;FSジャンルリスト大ジャンル;FSジャンルリスト中ジャンル;FSジャンル説明文;FS楽曲名英数読み_V2;FS歌手名英数読み;FSおすすめ曲;FS歌いだし;FSディスク版収録曲_V2;FSsong_id_change_history;FScontents_ranking;FSsinger_ranking;FStieup_ranking_V2;FSyears_ranking;FS更新日付;FSランキング集計期間;FS追加曲;FS個別映像割付情報;FS個別映像DISC収録情報_V2;FSパッケージID情報;FS収集リスト;FS健康王国おすすめ曲;FSおすすめプログラム曲;FSおすすめプログラム名</value>
            </setting>
            <setting name="FES_EXPORT_出力パス_V2" serializeAs="String">
                <value>festivalv2\all\search\</value>
            </setting>
            <setting name="FES_EXPORT_出力対象ファイルリネーム後名称_V2_HDD" serializeAs="String">
                <value>FSディスク追加削除曲;FS個別映像ディスク追加削除情報;FSチャプター追加削除曲</value>
            </setting>
            <setting name="FES_EXPORT_出力パス_V2_HDD" serializeAs="String">
                <value>festivalv2\all\hdd\</value>
            </setting>
            <setting name="FES_EXPORT_出力対象ファイルリネーム後名称_V2" serializeAs="String">
                <value>FSコンテンツ;FSサービス情報;FSタイアップ情報;FS歌手;FSジャンル情報;FSジャンルリスト大ジャンル;FSジャンルリスト中ジャンル;FSジャンル説明文;FS楽曲名英数読み;FS歌手名英数読み;FSおすすめ曲;FS歌いだし;FSディスク版収録曲;FSsong_id_change_history;FScontents_ranking;FSsinger_ranking;FStieup_ranking;FSyears_ranking;FS更新日付;FSランキング集計期間;FS追加曲;FS個別映像割付情報;FS個別映像DISC収録情報;FSパッケージID情報;FS収集リスト;FS健康王国おすすめ曲;FS健康王国おすすめプログラム曲;FS健康王国おすすめプログラム名</value>
            </setting>
            <setting name="FES_EXPORT_出力パス_V1" serializeAs="String">
                <value />
            </setting>
            <setting name="FES_EXPORT_出力ファイルリスト_V2_HDD" serializeAs="String">
                <value>FSディスク追加削除曲;FS個別映像ディスク追加削除情報;FSチャプター追加削除曲</value>
            </setting>
            <setting name="FES_EXPORT_出力対象ファイルリネーム後名称_V1" serializeAs="String">
                <value />
            </setting>
            <setting name="FES_RECOMMEND_SONG_IMPORT_FILE_おすすめ曲リスト取込" serializeAs="String">
                <value>おすすめ曲リスト.txt</value>
            </setting>
            <setting name="FES_VIDEO_ASSIGMENT_SEARCH_検索条件" serializeAs="String">
                <value>背景動画コード あり全件;[背景映像コード] is not null</value>
            </setting>
            <setting name="RIBBON_EXPORT_MENU_FES_VIDEO_ASSIGMENT_映像割付リストパス"
                serializeAs="String">
                <value>C:\Fes_up\</value>
            </setting>
            <setting name="FES_VIDEO_ASSIGMENT_EXPORT_DATA_出力条件" serializeAs="String">
                <value>映像割付リスト</value>
            </setting>
            <setting name="FES_EXPORT_コンテンツ歌手IDチェックファイルパス_V1" serializeAs="String">
                <value />
            </setting>
            <setting name="FES_EXPORT_コンテンツ歌手IDチェックファイルパス_V2" serializeAs="String">
                <value>C:\maprj\Festival\コンテンツ歌手IDチェックファイル_V2.txt</value>
            </setting>
            <setting name="FES_EXPORT_歌いだしチェックファイルパス" serializeAs="String">
                <value>C:\maprj\Festival\歌いだしチェックファイル.txt</value>
            </setting>
            <setting name="FES_EXPORT_DISC版収録曲チェックファイルパス_V1" serializeAs="String">
                <value />
            </setting>
            <setting name="FES_EXPORT_DISC版収録曲チェックファイルパス_V2" serializeAs="String">
                <value>C:\maprj\Festival\DISC版収録曲チェックファイル_V2.txt</value>
            </setting>
            <setting name="FES_EXPORT_前回ディスク追加削除曲TSVパス" serializeAs="String">
                <value>C:\Maprj\Festival\old\FSディスク追加削除曲.tsv</value>
            </setting>
            <setting name="FES_VIDEO_ASSIGMENT_IMPORT_EXPORT_FILE_映像割付リスト取込"
                serializeAs="String">
                <value>映像割付リスト.txt</value>
            </setting>
            <setting name="FES_VIDEO_ASSIGMENT_DEFAULT_PATH_映像割付リスト取込パス"
                serializeAs="String">
                <value>\\js-server\S-drv\制作\発納\festa映像割付\</value>
            </setting>
            <setting name="FES_SONG_WITH_DISC_検索条件_V1" serializeAs="String">
                <value>DISCID_V1 あり全件;[FesDISCID] is not null</value>
            </setting>
            <setting name="FES_SONG_WITH_DISC_検索条件_V2" serializeAs="String">
                <value>DISCID_V2 あり全件;[FesDISCID(Ver2)] is not null</value>
            </setting>
            <setting name="FES_SONG_WITH_DISC_FILE_NAME_IMPORT_DISCID割付リスト取込"
                serializeAs="String">
                <value>DISCID割付リスト.txt</value>
            </setting>
            <setting name="FES_SONG_WITH_DISC_SERVER_FILE_PATH_IMPORT_DISCID割付リスト取込配置ファイル"
                serializeAs="String">
                <value>\\xgmmsxdd01\Maprj\xing\Fes\tbl_FesDISCID割付リスト.txt</value>
            </setting>
            <setting name="FES_SONG_WITH_DISC_IMPORT_LOG_DISCID割付リスト取込チェックファイルパス"
                serializeAs="String">
                <value>C:\maprj\Festival\DISCID割付リストチェックファイル.txt</value>
            </setting>
            <setting name="FES_VIDEOS_MANAGERMENT_検索条件" serializeAs="String">
                <value />
            </setting>
            <setting name="FES_SONG_MANAGEMENT_検索条件" serializeAs="String">
                <value />
            </setting>
            <setting name="FES_EXPORT_個別映像ディスク追加削除情報チェックファイルパス" serializeAs="String">
                <value>C:\Maprj\Festival\個別映像ディスク追加削除情報チェックファイル.txt</value>
            </setting>
            <setting name="FES_CHAPTER_MANAGEMENT_検索条件" serializeAs="String">
                <value />
            </setting>
            <setting name="FES_VIDEO_MANAGEMENT_背景ファイルサイズ取込" serializeAs="String">
                <value>背景ファイルサイズリスト.txt</value>
            </setting>
            <setting name="FES_SONG_MANAGEMENT_DISC搭載曲データサイズ取込" serializeAs="String">
                <value>DISC搭載曲データサイズ.txt</value>
            </setting>
            <setting name="FES_DISK_MANAGEMENT_DISCサイズ" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="FES_DISK_MANAGEMENT_ファイルサイズの単位" serializeAs="String">
                <value>1048576</value>
            </setting>
        </Festival.Properties.Settings>
    </userSettings>
</configuration>