<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FestivalBusiness.Properties.Settings.WiiConnectionString" connectionString="Data Source=thanhpc;Initial Catalog=Wii;Persist Security Info=True;User ID=sa;Password=@dmin123" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
